<%= f.error_messages %>

<div style="text-align: center;">
LDAPサーバーから情報を取得し、中間データを作成します。
</div>

<div class="submitters">
  <div style="color: #b40; text-align: center;">
  <span id="message"></span>
  </div>
  <%= f.submit '作成する' %>
</div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('form').on('submit', function() {
    $('#message').html('処理を開始しました。そのままでお待ちください。<br /><br />');
    return true;
  });
});
//]]>
</script>
