<div class="link">
<% if params[:mobile].blank? || params[:mobile] != 'top' %>
<%= link_to 'トップページへ', webmail_mails_path(mailbox: 'INBOX', mobile: :top), accesskey: "0" %>
<% end %>
<%= link_to 'ログアウト', '/_admin/logout', class: 'logout' %>
</div>
<br />
<br />
<%= t('sys.shared.mobile_footer_html') %>
