<% if maintenance = Sys::Maintenance.latest_maintenance %>
<div id="maintenanceMessage">
  <div class="title">
    <%= link_to maintenance.title, '#toggleMaintenance' %>
    <span>（<%=l maintenance.published_at if maintenance.published_at %>）</span>
  </div>
  <div id="maintenanceMessageBody" class="message" style = "display:none;"><%=raw maintenance.body %></div>
</div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('a[href="#toggleMaintenance"]').on('click', function() {
    $('#maintenanceMessageBody').toggle();
    return false;
  });
});
//]]>
</script>
<% end %>
