*.project
*.thumb
*.swp
/.bundle
/.poject
/.idea
/.rvmrc
/.rspec

/config/*.yml
/config/initializers/debug.rb
/config/initializers/joruri/demo*
/log
/public/assets
/tmp
/upload
/vendor/bundle
/vendor/assets/bower_components

