@charset "UTF-8";

/* =========================================================
   Mail Form
========================================================= */

.mailFormMenu {
  height: 30px;
}
.mailSubmitters {
}
.mailSubmitters .submitters {
  text-align: left;
  margin: 0px;
}
.mailSubmitters .submitters input {
  width: auto;
  margin: 0px 5px 0px 0px;
}

/* form table
--------------------------------------------------------- */
div#mailFormContainer {
  text-align: center;
}
div#mailFormContainer #webmailContainer {
  width: 100%;
  margin: 0px auto;
}
div.mailForm {
  clear: both;
  margin: 10px 0px;
  padding: 10px 10px 10px 15px;
  border: 1px solid #8bd;
  background-color: #e0f0ff;
}
div.mailForm#mailAddressesForm {
  margin-top:0;
}
div.mailForm table.mailAttributes {
  width: 100%;
}
div.mailForm table.mailAttributes th {
  width: 60px;
  padding: 2px 5px 0px 0px;
  _padding: 4px 5px 0px 0px;
  font-weight: bold;
  font-family: Verdana;
  text-align: right;
  vertical-align: top;
}
div.mailForm table.mailAttributes td {
  padding-bottom: 4px;
}
div.recipientConfirm {
  margin-right: 20px;
  text-align: right;
}
div.recipientConfirm * {
  vertical-align: middle;
}
a.scheduleLink {
  float: left;
  background-image: url("../images/ic-month.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
}

/* form input, etc
--------------------------------------------------------- */
/* * html #mailContent input.file, */
#mailContent input.text,
#mailContent textarea {
  padding: 2px 2px; 
  border: 1px solid #bbb;
  line-height: 1.2;
}
#mailContent textarea.cc,
#mailContent textarea.bcc,
#mailContent textarea.reply_to {
  width: 90%;
  height: 2.5em;
}
#mailContent textarea.to,
#mailContent textarea.subject {
  width: 90%;
  height: 2.5em;
}
#mailContent textarea.body {
  width: 775px;
  height: 390px;
  margin: 0px 0px 5px;
  padding: 5px;
}
#mailContent .textFormatEditor {
  width: 100%;
}
#mailContent .htmlFormatEditor {
  position: relative;
  width: 98%;
  margin: 0px 0px 5px;
  padding: 0px;  
}
#mailContent .htmlFormatEditor .mceLayout {
  width: 100% !important;
}
#mailContent textarea.mceEditor {
  width: 100%;
  height: 330px;
}
#mailContent .editorMenu {
  font-size: 12px;
  text-align: right;
}
#mailContent .editorMenu a {
  font-family: monospace, "MS Gothic";
  display:inline-block;
  width: 60px;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: url(../images/bt/bg-link_check.jpg);
  background-repeat: no-repeat;
  color: #000;
  text-align: center;
  text-decoration: none;
  line-height: 1.4;
}
#mailContent .editorMenu a:hover {
  background-image: none;
  color: #05c;
}
#mailContent .formatSelector {
  display: inline;
  margin-right: 10px;
}
#mailContent .signSelector {
  display: inline;
  margin-right: 10px;
}
#mailContent .templateSelector {
  display: inline;
  margin-right: 10px;
}
#mailContent .templateSelector select {
  max-width: 150px;
}
#mailContent .prioritySelector {
  display: inline;
  margin-right: 15px;
}
#mailContent .addressToggleButtons {
  font-size: 12px;
}
#mailContent .addressToggleButtons a {
  display:inline-block;
  width: 100px;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: url(../images/bt/bg-link_check.jpg);
  background-repeat: no-repeat;
  color: #000;
  text-align: center;
  text-decoration: none;
  line-height: 1.6;  
}
#mailContent .addressToggleButtons a:hover {
  background-image: none;
  color: #444;
}
/* file upload / swfupload
--------------------------- */
#uploadedFiles {
  width: 90%;
  margin: 3px 0px 3px 0px;
  padding: 3px 4px;
  border: 1px solid #bbb;
  background-color: #fff;
  line-height: 1.5;
  min-height: 1.5em;
}
#uploadedFiles .uploadedFile {
  display: block;
  margin: 0px 8px 0px 0px;
  white-space: nowrap;
}
#uploadedFiles .uploadedFile * {
  display: inline-block;
  vertical-align: middle;
}
#uploadedFiles .uploadedFileName {
  padding-left: 27px;
  padding-right: 0px !important;
  color: #000;
  text-decoration: none;
}
#uploadedFiles .uploadedFileSeparator {
}
#uploadedFiles a.deleteUploadedFile {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 0px 0px 3px;
  background-image: url(../images/bt/bt_cancelbutton.gif);
  background-repeat: no-repeat;
  background-position: -14px 0px;
  font-size: 0;
}
#uploadedFiles a.deleteUploadedFile:hover {
  background-position: 0px 0px;
}
#uploadedFiles .dropZoneNotice {
  color: #aaa;
}
#uploadedFiles.hover {
  background-color: #bdf;
}

#swfupButtons {
  margin-top: 1px;
}
#swfupButtons * {
  margin-right: 5px;
  vertical-align: bottom;
}
#btnCancel,
#jqueryFileUploader .labelButton {
  display: inline-block;
  width: 80px;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: url(../images/bt/bg-link_check.jpg);
  background-repeat: no-repeat;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  height: 24px;
}
#jqueryFileUploader .labelButton {
  width: auto;
  padding: 0px 10px;
  line-height: 24px;
}
#jqueryFileUploader .labelButton:hover {
  background-image: none;
  color: #444;
}
#divStatus {
  display: none;
  padding: 4px 0px 0px 6px;
  color: #080;
}
#fsUploadProgress {
}
.progressContainer {
  width: 400px;
  margin: 4px 0px 2px 0px;
  padding: 3px 6px;
  border: 1px solid #bbb;
  background-color: #eee;
}
.progressContainer .progressName {
  color: #000;
}
.progressContainer .progressBarStatus {
  color: #922;
  white-space: nowrap;
}
.progressContainer .progressBarInProgress,
.progressContainer .progressBarComplete,
.progressContainer .progressBarError {
  font-size: 0;
  width: 0%;
  height: 3px;
  background-color: #48d;
  margin-top: 2px;
}
.progressContainer .progressBarComplete {
  width: 100%;
  background-color: green;
  display: none;
}
.progressContainer .progressBarError {
  width: 100%;
  background-color: red;
  display: none;
}
.progressContainer a.progressCancel {
  font-size: 0;
  display: block;
  height: 14px;
  width: 14px;
  background-image: url(../images/bt/bt_cancelbutton.gif);
  background-repeat: no-repeat;
  background-position: -14px 0px;
  float: right;
}
.progressContainer a.progressCancel:hover {
  background-position: 0px 0px;
}

/* address selector
--------------------------------------------------------- */
#openAddress {
  position: relative;
  font-size: 12px;
  text-align: right;
}
#openAddress a {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 4px 16px;
  border: 1px solid #8bd;
  background-color: #fff;
  color: #00f;
  line-height: 1.2;
  text-decoration: none;
}
#openAddress a.current {
  border-bottom: 1px solid #E0F0FF;
  background-color: #E0F0FF;
  color: #000;  
}
#addressSelector {
  clear: both;
  padding:10px;
  border:1px solid #88BBDD;
  background-color:#E0F0FF;
  font-size: 12px;
}
#addressSelector div.search {
  margin-bottom: 5px;
}
#addressSelector table {
  width: 100%;
  margin-bottom: 5px;
  border-style:none;
}
#addressSelector td.addressesColumn {
  width: 40%;
}
#addressSelector td.actionsColumn {
  width: 100px;
  text-align: center;
  vertical-align: top;
}
#addressSelector .addresses {
  position: relative;
  height: 365px;
  padding: 10px 0 0 10px;
  border: 1px solid #8BD;
  background-color: #F0F7FF;
  overflow: scroll;
}
#addressSelector .addresses li {
  position: relative;
  margin: 0;
  line-height: 1.4;
}
#addressSelector .addresses ul.children li {
  margin-left: 17px; 
}
#addressSelector .addresses li a.toggleItems {
  display:inline-block;
  position: absolute;
  top: 6px;
  width:11px;
  height:11px;
  background-position:0 0;
  font-size:0;
  overflow:hidden;
}
#addressSelector .addresses li a.toggleItemsClose {
  background-image:url("../images/tree/plus.gif");
}
#addressSelector .addresses li a.toggleItemsOpen {
  background-image:url("../images/tree/minus.gif");
}
#addressSelector .addresses li input.check {
  position: absolute;
  top: 1px;
  left: 14px;
}
#addressSelector .addresses li a.itemName {
  display:inline-block;
  position: relative;
  left: 14px;  
  margin:0;
  padding:1px 4px 0 22px;
  background-repeat:no-repeat;
  color:#000000;
  text-decoration:none;
  line-height:1.6;
}
#addressSelector .addresses li a.itemName:hover {
  background-color: #BDF;
  color: #00F;
}
#addressSelector .addresses li a.groupName {
  background-image: url("../images/tree/folder_close.gif");
  background-position:3px 4px;
}
#addressSelector .addresses li a.addressName {
 margin-left: 20px;
 padding-left:2px;
}
#addressSelector .selectedAddresses {
  height: 120px;
  margin-bottom: 2px;
  padding: 2px 0 0 3px;
  border: 1px solid #8BD;
  background-color: #FFF;
  overflow: scroll;
}
#addressSelector .selectedAddresses .selectedAddress {
  padding: 1px 0 2px 0;
}
#addressSelector .selectedAddresses a.deleteButton {
  display:inline-block;
  width:14px;
  height:14px;
  margin:0 5px 0 0;
  background-image:url("../images/bt/bt_cancelbutton.gif");
  background-position:-14px 0;
  background-repeat:no-repeat;
  font-size:0;
  vertical-align:middle;
}
#addressSelector .selectedAddresses a.deleteButton:hover {
  background-position:0 0;  
}
#addressSelector .submitters {
  margin: 0;
  text-align: right;
}
#addressSelector a.action {
  display:inline-block;
  padding:1px 10px;
  border:1px solid #AAAAAA;
  background-color:#FFFFFF;
  background-image:url("/_common/themes/admin/gw/images/bt/bg-link_check.jpg");
  color:#000000;
  text-decoration:none;
  line-height:1.4;
}
#addressSelector a:hover.action {
  background-image:none;
  color:#444;
}
#addressSelector td.actionsColumn a.action {
  width: 70px;
  padding: 2px 10px;  
}
#addressSelector .submitters a {
  width: 60px;
  padding: 2px 10px;
  text-align: center;
}

