<%= stylesheet_link_tag '/_common/themes/admin/gw/webmail/style', :media => 'all' %>
<%= stylesheet_link_tag '/_common/themes/admin/gw/print', :media => 'print' %>

<div id="siteinfoContent">
<table id="siteinfo" class="show">
<tr>
<th>接続先サーバ名</th>
<td><%= @host || request.server_name %></td>
</tr>
<tr>
<th>端末IPアドレス</th>
<td><%= request.env['HTTP_X_FORWARDED_FOR'] || request.remote_ip %></td>
</tr>
</table>
<script type="text/javascript">
<!--
var props = [
  ["ブラウザコード名", navigator.appCodeName],
  ["ブラウザ名", navigator.appName],
  ["バージョン", navigator.appVersion],
  ["プラットフォーム", navigator.platform],
  ["ユーザーエージェント", navigator.userAgent]
];

for (var i = 0;i < props.length;i++) {
  var tr = document.createElement("tr");
  var th = document.createElement("th");
  var td = document.createElement("td");
  th.innerHTML = props[i][0];
  td.innerHTML = props[i][1];
  tr.appendChild(th);
  tr.appendChild(td);
  $("siteinfo").appendChild(tr);
}
// -->
</script>
</div>
