<div id="mailboxes" class="mailbox">
  <ul class="root">
    <%= render 'gw/admin/webmail/mails/shared/mailbox_children', mailboxes: Gw::WebmailMailbox.make_tree(@mailboxes), level_no: 1 %>
  </ul>
</div>
