<%
tree = ""
plv  = 0

@mailboxes.each_with_index do |box, idx|
  clv       = box.parents_count
  idt       = "  " * clv
  li_class  = []
  li_class << (box.name =~ /^(INBOX|Drafts|Sent|Archives|Trash|Star)$/ ? box.name.downcase : "folder")
  li_class << "level#{clv}"
  li_class << "cursor" unless box.trash_box?
  li_class  = %Q(class="#{li_class.join(' ')}")
  nm_class  = ["name"]
  nm_class << "current" if box.name == @mailbox.name
  nm_class << "unseen" if box.unseen > 0
  nm_class = nm_class.join(' ')
  
  tree += %Q(<tr #{li_class}><td>)
  
  tree += %Q(<div>) if box.trash_box?
  
  unseenNum = box.unseen > 0 ? "(#{box.unseen})" : ""
  tree += %Q(<b>) if box.unseen > 0
  tree += link_to("#{h(box.title)}#{unseenNum}", url_for(action: :index, mailbox: box.name), class: nm_class)
  #tree += %Q{<span class="unseenNum">(<span class="num">#{box.unseen}</span>)</span>} if box.unseen > 0
  tree += %Q(</b>) if box.unseen > 0
  
  if box.trash_box? && (box.messages > 0 || box.children.length > 0)
    tree += link_to("≫空にする", empty_gw_webmail_mails_path(box.name), class: :empty, data: { confirm: "空にしてよろしいですか？" })
  end
  
  tree += %Q(</div>) if box.trash_box?
  
  tree += %Q(</td></tr>)

  plv = clv
end
tree = %Q(<table class="root">#{tree}</table>) if tree.present?

%><div id="mailboxes" class="mailboxes"><%= raw tree %></div>
