<div class="memo">
<div class="title">メモ</div>

<%= form_tag url_for(action: :update), { method: :patch, id: 'memoEditForm', name: 'memoEditForm', class: 'memoEditForm' } do |f| %>
  <%= render 'form', f: f %>
<% end %>

</div>
