<div id="gwMenu">
<ul>
<li><a href="#/"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_home.gif" title="ポータル" alt="ポータル" /></a><br /><a href="/">ポータル</a></li>
<li class="grayout"><span class="menu_schedules"><a href="#/gw/schedules/show_month"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_schedule.gif" title="スケジュール" alt="スケジュール" /></a><a class="menu_new" href="/gw/schedules/new"><img src="/_common/themes/admin/gw/images/ic_add.gif" alt="新規作成" /></a></span><br /><a href="/gw/schedules/show_month">スケジュール</a></li>
<li class="grayout"><span class="menu_todo"><a href="#/gw/todos"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_todo.gif" title="ToDo" alt="ToDo" /></a><a class="menu_new" href="/gw/todos/new"><img src="/_common/themes/admin/gw/images/ic_add.gif" alt="新規作成" /></a></span><br /><a href="/gw/todos">ToDo</a></li>
<li class="grayout"><span class="menu_memo"><a href="#/gw/memos"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_memo.gif" title="連絡メモ" alt="連絡メモ" /></a><a class="menu_new" href="/gw/memos/new"><img src="/_common/themes/admin/gw/images/ic_add.gif" alt="新規作成" /></a></span><br /><a href="/gw/memos">連絡メモ</a></li>
<li><a href="#/under_construction.html" class="mock"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_address.gif" title="アドレス帳" alt="アドレス帳" /><br />アドレス帳</a></li>
<li class="grayout"><a href="#/gwbbs"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_board.gif" title="掲示板" alt="掲示板" /></a><br /><a href="/gwbbs">掲示板</a></li>
<li class="grayout"><a href="#/gwfaq"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_qa-admin.gif" title="質問管理" alt="質問管理" /></a><br /><a href="/gwfaq">質問管理</a></li>
<li class="grayout"><a href="#/doclibrary"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_library.gif" title="書庫" alt="書庫" /></a><br /><a href="/doclibrary">書庫</a></li>
<li class="grayout"><a href="#/digitallibrary"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_electronic-book.gif" title="電子図書" alt="電子図書" /></a><br /><a href="/digitallibrary">電子図書</a></li>
<li class="grayout"><a href="#/gw/admin_settings"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_system.gif" title="管理者設定" alt="管理者設定" /></a><br /><a href="/gw/admin_settings">管理者設定</a></li>
<li class="grayout"><a href="#/"><img width="44" height="44" border="0" src="/_common/themes/admin/gw/images/ic_deco.gif" title="DECO" alt="DECO" /></a><br /><a href="/">DECO</a></li>
</ul>
</div>
