<table id="webmailContainer"><tr><td id="webmailMenu">
<div id="webmailMenuContainer">

<%= render "upper_menu" %>

</div>
</td><td id="webmailContent"><div id="toolContent">

</div><!-- end #webmailContainer --></td></table>
