<div class="actionMenu">
  <%= link_to :list, webmail_address_groups_path, style: 'margin-bottom: 10px;' %>
  <%= link_to 'CSVインポート', import_webmail_addresses_path, style: 'margin-bottom: 10px;' %>
  <%= link_to 'CSVエクスポート', export_webmail_addresses_path %>
</div>
