<%
cls = lambda do |name|
  _cls  = [ name.to_s ]
  _cls << 'current' if name.to_s == params[:action]
  _cls.join(' ')
end
%>
<div class="toolMenu">
  <%= link_to "一括削除", batch_delete_gw_webmail_tools_path, class: cls.call(:batch_delete) %><br />
</div>
<div class="command">
  
</div>
