@charset "UTF-8";

/* =========================================================
   Webメール / 携帯
========================================================= */
/* elements
----------------------------------------------- */
a:link {
  color: #3366CC;
  text-decoration: underline;
}
a:visited {
  color: #330066;
}
a:focus {
  color: #FFF7A4;
  background-color:#3366CC;
}
a:hover {
  color: #FFF7A4;
  background-color:#3366CC;
}
a:visited:hover {
  background-color:#330066;
  color: #FFF7A4;
}