<%
if @item.value.blank? 
  value = { account: '', password: '' }
else
  value = JSON.parse(@item.value).symbolize_keys!
  value[:password] = Util::String::Crypt.decrypt_with_mime(value[:password]) || ''
end
%>
<table class="show">
  <tr>
    <th>設定名</th>
    <td><%= @item.config_name %></td>
  </tr><tr>
    <th>設定値</th>
    <td>
      <span style="width:70px; display:inline-block;">アカウント</span>
      <%= text_field_tag :account, value[:account], style: 'width: 150px;', autocomplete: 'off' %><br />
      <span style="width:70px; display:inline-block;">パスワード</span>
      <%= password_field_tag :password, value[:password], style: 'width: 150px;', autocomplete: 'off' %>
      <%=raw @item.message if @item.message %>
    </td>
  </tr>
</table>
