<% if @parents %>
<div class="navi">
<% @parents.each_with_index do |p, i| %>
  <%= link_to h(p.display_name), { action: :index, parent: p.dn } %>
  <% if i != @parents.size - 1 %>&gt;<% end %>
<% end %>
</div>
<% end %>
