<span class="previous">
  <%= link_to '前へ', { id: @pagination[:prev_uid] } if @pagination[:prev_uid] %>
</span>
<span class="index">
  <%= link_to '一覧へ戻る', { action: :index, mobile: :list }, class: 'back' %>
</span>
<span class="next">
  <%= link_to '次へ', { id: @pagination[:next_uid] } if @pagination[:next_uid] %>
</span>
