<% if maintenance = recent_maintenance() %>
<div id="maintenance">
<div class="showItem">
  <font class="title">タイトル</font>
  <font class="value"><%= maintenance.title %></font>
</div>
<div class="showItem">
  <font class="title">日時</font>
  <font class="value"><%= safe{maintenance.published_at.strftime('%Y-%m-%d %H:%M')} %></font>
</div>
<div class="showItem">
  <font class="title">本文</font>
  <font class="value"><%=raw maintenance.body %></font>
</div>
</div>
<% end %>
