<% if maintenance = recent_maintenance() %>
<table class="show">
  <tr>
    <th><%= maintenance.title %> <%= safe{maintenance.published_at.strftime('(%Y-%m-%d %H:%M)')} %></th>
  </tr>
  <tr>
    <td><%=raw maintenance.body %></td>
  </tr>
</table>
<% end %>

<%= link_to '<戻る', gw_webmail_mails_path(:mailbox => 'INBOX', :mobile => 'top'), :class => 'back' %>
