<%
tree = ""
plv  = 0

@mailboxes.each_with_index do |box, idx|
  clv       = box.parents_count
  idt       = "  " * clv
  li_class  = []
  li_class << (box.name =~ /^(INBOX|Drafts|Sent|Archives|Trash|Star)$/ ? box.name.downcase : "folder")
  li_class  = %Q(class="#{li_class.join(' ')}")
  nm_class  = ["name"]
  nm_class << "current" if box.name == @mailbox.name
  nm_class << "unseen" if box.unseen > 0
  nm_class << "droppable" if box.name !~ /^(Drafts|Star)$/
  nm_class = nm_class.join(' ')

  tree += "</li></ul>" * (plv - clv) if clv < plv
  if clv > plv
    plv.upto(clv - 1) {|i| tree += %Q(<ul class="children level#{(i + 1)}">\n#{idt}<li class="folder">) }
  elsif idx > 0
    tree += %Q(</li>\n#{idt}<li #{li_class}>)
  else
    tree += %Q(\n#{idt}<li #{li_class}>)
  end
  
  tree += link_to(h(box.title), url_for(:action => :index, :mailbox => box.name), :class => nm_class, :id => "mailbox_#{box.name}")
  tree += %Q{<span class="unseenNum">(<span class="num">#{box.unseen}</span>)</span>} if box.unseen > 0
  
  if box.trash_box? && (box.messages > 0 || box.children.length > 0)
    tree += link_to("≫空にする", empty_gw_webmail_mails_path(box.name),
      :class => :empty, :confirm => "空にしてよろしいですか？")
  end
  
  tree += %Q(</li>) if @mailboxes.size == idx + 1

  plv = clv
end
tree = %Q(<ul class="root">#{tree}</ul>) if !tree.blank?

%><div class="mailbox"><%= raw tree %></div>
