<% unless flash[:notice] || flash[:error] %>
<%= javascript_tag "window.close();" %>
<% end %>
<div id="mailFormContainer">
<table id="webmailContainer"><tr><td id="webmailContent">
<div id="mailContent" style="padding-top:10px; text-align:center;">

<%= link_to 'メール一覧画面へ移動する', gw_webmail_mails_path(mailbox: 'INBOX') %><br /><br />
<input type="button" value="閉じる" onclick="window.close();" />

</div><!-- end #webmailContainer --></td></table>
<!-- end #mailFormContainer --></div>
