<%
limit_size = data_uri_scheme_limit_size

def thumbnail_for_embed(at, limit_size)
  if limit_size > 0 && thumbnail = at.thumbnail(width: 64, height: 64, format: :JPEG, quality: 70)
    thumbnail = Base64.encode64(thumbnail)
    if thumbnail.length <= limit_size
      return thumbnail
    end
  end
  return nil
end
%>

<% @item.attachments.each do |at| %>
<div class="thumbnailbox">
  <div class="thumbnail">
    <% if at.image? %>
      <% if thumbnail = thumbnail_for_embed(at, limit_size) %>
        <img src="data:image/jpeg;base64,<%= thumbnail %>" class="image">
      <% else %>
        <%= image_tag url_for(download: at.seqno, thumbnail: 1, width: 64, height: 64) %>
      <% end %>
    <% end %>
  </div>
  <div class="filename">
    <%= link_to h(mail_text_wrap("#{at.name}(#{at.eng_unit})", 5)), url_for(download: at.seqno, size: at.size),
      target: (at.image? ? '_blank' : nil), class: at.css_class %>
  </div>
</div>
<% end %>
