<% mailboxes.each do |box| %>
  <%
    li_class = mailbox_list_class(box)
    nm_class = mailbox_name_class(box, @mailbox)
  %>
  <li class="<%= li_class %>">
    <% if box.editable_box? %>
      <span class="draggable">&nbsp;</span>
    <% end %>
    <%= link_to h(box.title), url_for(action: :index, mailbox: box.name), class: nm_class, data: { mailbox: box.name } %>
    <% if box.children.size > 0 %>
      <ul class="children level<%= box.level_no %>">
        <%= render 'mailbox_children', mailboxes: box.children %>
      </ul>
    <% end %>
  </li>
<% end %>
