<table class="show">
  <tr>
    <th><%= @item.locale :parent_id %></th>
	<td><%= f.select :parent_id, @item.candidate_parents, {:include_blank => "（ルート階層）"}, {:class => "parent_id"} %></td>
  </tr>
  <tr>
    <th><%= @item.locale :name %></th>
    <td><%= f.text_field :name, :class => 'name' %></td>
  </tr>
</table>
