<table id="webmailContainer"><tr><td id="webmailMenu">
<div id="webmailMenuContainer">

<%= render :partial => "upper_menu" %>

</div>
</td><td id="webmailContent"><div id="addressContent">
<%= form_tag export_gw_webmail_addresses_path, :multipart => true do %>
  <%= raw submit('エクスポート') %>
<% end %>
</div><!-- end #webmailContainer --></td></table>
