<div class="memo">
<div class="title">メモ</div>

<%= form_tag url_for(:action => :update), {:method => :put, :id => 'memoForm'} do |f| %>
  <%= error_messages_for :item %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= raw submit(:edit) %>
<% end %>

</div>
